@model IEnumerable<ChasesDrPepperStore.DATA.EF.Models.Category>

@{
    ViewData["Title"] = "Categories";
}

<h1>Categories</h1>





<div class="row">
    <div align="center" class="offset-3 col-md-6 mb-3">
        <button id="ToggleCategoryCreate" class="btn-primary btn">Add New Category</button>
    </div>
</div>



<div id="CategoryCreate">
    <partial name="CategoryCreate" model="new ChasesDrPepperStore.DATA.EF.Models.Category()" />
</div>



<div class="row">
    <div class="offset-3 col-md-6">
        <div id="MessageContent" class="text-center"></div>
    </div>
</div>




<table class="table" id="CategoriesTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @*- Add ID attribute to each row... *@
            <tr id="Category-@item.CategoryId">
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryDescription)
                </td>
                <td>
                
                    
                    <a href="" class="EditLink" id="@item.CategoryId">Edit</a> |


                    
                    <button type="button" class="DetailsLink btn-link btn" id="@item.CategoryId" data-toggle="modal"
                            data-target="#CategoryDetails">
                        Details
                    </button> |

                    
                    <a data-ajax="true" data-ajax-confirm="Are you sure you want to delete '@item.CategoryName'?"
                       data-ajax-failure="deleteFailed" data-ajax-success="deleteConfirmed" data-ajax-method="POST"
                       href="~/Categories/AjaxDelete/@item.CategoryId">
                        Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>


<div class="modal fade" id="CategoryDetails" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Details</h5>
        </div>
        <div class="modal-body" id="DetailsBody"></div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>



@section Scripts {
    <script>
        
        //***************AJAX DELETE**********************/
        function deleteConfirmed(response, status, data) {
            
            let rowId = "#Category-" + response.id;
            console.log(rowId);
            $("#CategoriesTable").find(rowId).remove();

            //display a status message
            $("#MessageContent").html("<div class='alert alert-success'>" + response.message + "</div>");
        }

        function deleteFailed(reponse, status, data) {
            //display a status message
            $("#MessageContent").html("<div class='alert alert-danger'>Delete unsuccessful - try again or contact administrator</div>");
        }


       
        //***************AJAX DETAILS**********************/
        $(".DetailsLink").on("click", function (e) {
            let catId = $(this).attr("id");
            $("#CategoryDetails .modal-body").load("/Categories/CategoryDetails/" + catId);
        });


        
        //************************** AJAX CREATE *************************/
        $("#CategoryCreate").hide();//when page load, create form is hidden
        $("#ToggleCategoryCreate").on("click", function () {
            $("#CategoryCreate").toggle();
        });

        
        $("#CategoryCreateForm").on("submit", function (e) {
            e.preventDefault();
            let formData = $(this).serializeArray();
            console.log(formData);

            $.ajax({
                url: "/Categories/AjaxCreate",
                type: "POST",
                data: formData,
                dataType: "json",
                error: function (e) {
                    $("#MessageContent").html("<div class='alert alert-danger'>There was a problem...</div>");
                },
                success: function (category) {
                    $("#MessageContent").html("<div class='alert alert-success'>Category added!</div>");
                    $("#CategoryCreateForm")[0].reset();
                    $(function () {
                        let row = '<tr id="Category-' + category.categoryId + '"><td>' + category.categoryName
                            + '</td><td>' + category.categoryDescription
                            + '</td><td>Refresh page for options</td></tr>';
                        $("#CategoriesTable").append(row);
                        $("#CategoryCreate").hide();
                    });
                }
            });
        });

       

        //************************** AJAX EDIT *************************/
        let originalContent = null;
        $("a.EditLink").on("click", function (e) {
            e.preventDefault();
            let categoryId = $(this).attr("id");
            let row = $("#Category-" + categoryId).children();
            originalContent = {
                CatId: categoryId,
                CatName: row[0].innerText,
                CatDescription: row[1].innerText
            };

            $.get("/Categories/CategoryEdit/" + categoryId, function (data) {
                $("#Category-" + categoryId).replaceWith("<tr id='Category-" + categoryId + "'>" + data + "</tr>");
            });

        });


        $(document).on("click", "#saveUpdate", function () {
            let formData = $("#CategoryEditForm").serializeArray();
            console.log(formData);
            $("#MessageContent").html("<div class='alert alert-info'>Please wait...</div>");

            $.ajax({
                url: "/Categories/AjaxEdit",
                type: "POST",
                data: formData,
                dataType: "json",
                success: function (data) {
                    $("#MessageContent").html("<div class='alert alert-success'>Your record was successfully updated!</div>");
                    $("#CategoryEditForm")[0].reset();

                    $(function () {
                        let row = '<tr><td>' + data.categoryName +
                            '</td><td>' + data.categoryDescription +
                            '</td><td>Refresh to view options</td></tr>';

                        $("#Category-" + data.categoryId).replaceWith(row);
                    })
                },
                error: function (e) {
                    $("#MessageContent").html("<div class='alert alert-warning'>There was an error.  Please try again or contact the site admin.</div>");
                    $(function () {
                        let row = '<tr><td>' + originalContent.CatName +
                            '</td><td>' + originalContent.CatDescription +
                            '</td><td>Refresh to view options</td></tr>';
                        $("#Category-" + data.categoryId).replaceWith(row);
                    });

                }
            });
        });

    </script>
}
