@model IEnumerable<ChasesDrPepperStore.DATA.EF.Models.Product>

@{
    ViewData["Title"] = "Shop Dr. Pepper";
}




<section class="product_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                Shop <span>Dr. Pepper</span>
            </h2>

            <p align="center">
                @if (User.IsInRole("Admin"))
                {
                    //The pipe delimiters (|) that were outside of the <a> tags were causing intellisense to
                    //assume we were switching BACK to C# mode.
                    //To make sure intellisense renders these as text and NOT c#, we can wrap everything in a <span>
                    <span>
                        <a asp-action="Create">Add New Product</a> |
                        <a asp-action="Discontinued">Discontinued Products</a> |
                    </span>
                }
                <a asp-action="TiledProducts">Tile View</a>
            </p>

        </div>

        

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductPrice)
                    </th>
                   
                    <th>
                        @Html.DisplayNameFor(model => model.ProductImage)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Category)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Supplier)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductPrice)
                        </td>
                   
                        <td>
                           
                            <img src="~/images/@item.ProductImage" class="img-fluid" alt="@item.ProductDescription" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category.CategoryName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Supplier.SupplierName)
                        </td>
                        <td>
                            @if (User.IsInRole("Admin"))
                            {
                                <span>
                                    <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
                                </span>
                            }
                            <a asp-action="Details" asp-route-id="@item.ProductId">Details</a>

                         
                      
                            
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</section>



@section Scripts {
    <script>
        $(document).ready(function () {
            $('.table').DataTable();
        });
    </script>

}